*{
    text-align: center;
}
table{
    margin:auto;
}
div{
    padding: 20px;
}
input{
    font-size: 30px;
    border-width: 3px;
}
button{
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    background: lightcoral;
    width:70px;
    height: 70px;
}
#clear{
    width:300px;
    position: absolute;
    align-items: center;
    left: 39.5%;
}